@use "@/variables";

.container {
  gap: 6px;

  width: 100%;

  box-sizing: border-box;

  .categories {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 3px;
    box-sizing: border-box;
    max-width: 100%;
    gap: 6px;
    -webkit-overflow-scrolling: touch;

    width: 100%;

    .category {
      display: flex;
      flex: 0 0 auto;
      white-space: nowrap;
      gap: 5px;
      padding: 4px 8px;
      width: auto;
      height: 100%;
      border-radius: 8px;
      border: solid 1px transparent;
      background-color: transparent;
      transition: 0.2s;
      box-sizing: border-box;

      &:hover {
        border-color: variables.$border-color;
        background-color: variables.$component;
      }

      svg {
        width: 16px;
        height: 16px;
      }

      p {
        display: -webkit-box;
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 150px;
      }
    }
    .active {
      background-color: variables.$component;
    }
  }

  .sort {
    display: flex;
    flex-shrink: 0;
    gap: 5px;
    height: 100%;

    @media screen and (max-width: 576px) {
      & {
        display: none;
      }
    }

    button {
      display: flex;
      gap: 3px;
      width: auto;
      height: 100%;
      border-radius: 8px;
      border: solid 1px transparent;
      background-color: transparent;
      text-align: left;
      transition: 0.2s;

      p {
        display: -webkit-box;
        width: 100%;
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      svg {
        width: 18px;
        height: 18px;
      }

      &:hover {
        border-color: variables.$border-color;
        background-color: variables.$component;
      }

      .iconContainer {
        display: flex;
        align-items: center;
        height: 100%;
        transition: 0.2s;
      }
    }
  }
}
