.sideMenuContainer {
  position: relative;
  width: 300px;
  min-width: 300px;
  height: 100%;
  /*
  @media screen and (max-width: 576px) {
    & {
      position: fixed;
      top: 0;
      left: 0;
      width: 450px;
      z-index: 11;
    }
  }
*/
  .menu {
    position: fixed;
    display: flex;
    flex-direction: column;

    padding: 10px;
    width: 100%;
    max-width: 300px;

    height: 100%;
    background-color: var(--panel);
    box-sizing: border-box;
    overflow-y: auto;

    /*
    @media screen and (max-width: 576px) {
      & {
        width: 450px;
      }
    }
*/
    .tools {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .block {
        display: flex;
        gap: 5px;
      }
      .addButton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 35px;
        height: 35px;
        color: lightgray;
        border: solid 2px transparent;
        background-color: var(--blur-panel);
        font-size: 20px;
        transition: border 0.15s;

        svg {
          font-size: 18px;
        }
      }
    }

    .boundary {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}

.mobile {
  width: 100%;

  .menu {
    max-width: 400px;
  }
}
