.modal {
  width: 40%;
}

.fileAddContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .upload {
    height: 250px;
  }

  .filesList {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-height: 200px;
    overflow-y: scroll;
  }

  .buttonsContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;

    button {
      width: auto;
      height: 40px;

      &:disabled {
        opacity: 0.6;
      }
    }
  }
}
