.background {
  justify-content: flex-end;
  .container {
    position: relative;
    width: 400px;
    height: 100%;
    background-color: var(--folder-component);
    box-sizing: border-box;
  }
}

.left {
  justify-content: flex-start;
}
