@use "@/variables";

.card {
  box-sizing: border-box;
  border-radius: 16px;
  background-color: variables.$panel;
  cursor: pointer;

  .info {
    display: flex;
    flex-direction: column;

    padding: 10px 5px;

    .type {
      display: flex;
      align-items: center;
      gap: 3px;
      font-size: 13px;
      color: gray;

      .icon {
        font-size: 20px;
        color: gray;
      }
    }
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .name {
        display: -webkit-box;
        width: 150px;
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0;
        color: lightgray;
        user-select: none;
        font-size: 14px;
      }
      .menuButton {
        width: 35px;
        width: 35px;
        background-color: transparent;

        &:hover svg {
          color: lightgray;
        }

        svg {
          font-size: 20px;
          color: gray;
        }
      }
    }
  }
}
