@use "@/variables";

.folderCard {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  padding-inline: 10px;
  min-height: 70px;
  max-height: 70px;
  height: 70px;
  border-radius: 12px;
  border: solid 2px transparent;
  background-color: variables.$folder-component;
  box-sizing: border-box;
  transition: 0.2s;
  user-select: none;

  * {
    cursor: pointer;
  }

  .container {
    display: flex;
    gap: 15px;
    align-items: center;
    flex: 1;

    .iconContainer {
      position: relative;
      .logoContainer {
        position: absolute;
        top: 5px;
        left: 6px;
        .logo {
          transform: scale(0.45);
        }
      }
    }
  }

  .icon {
    font-size: 28px;
  }
  .private {
    filter: grayscale(100%);
  }

  .info {
    display: flex;
    flex-direction: column;

    width: 130px;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 15px;
      font-family: "Exo 2";
      font-weight: 600;
    }

    .creator {
      display: flex;
      align-items: center;
      height: 30px;
      label {
        font-size: 12px;
        color: gray;
      }
    }
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 35px;
    height: 35px;
    background-color: transparent;
    svg {
      font-size: 16px;
      color: gray;
    }
    div {
      display: flex;
      place-items: center;
      transition: 0.2s;
    }
  }

  .tools {
    display: flex;
    gap: 3px;
  }
}

.active {
  background-color: variables.$component;
}
.subFolder {
  display: flex;
  overflow: none;

  .line {
    display: flex;
    margin: 0;
    margin-right: 8px;
    border: solid 1px variables.$light-blur-panel;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
      border-color: variables.$theme;
    }
  }

  .subFolderList {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: none;
  }
}

.drop {
  border-color: variables.$dark-theme;
}
