@use "@/variables";

.folderCard {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 10px;
  min-height: 70px;
  max-height: 70px;
  border-radius: 12px;
  background-color: variables.$folder-component;
  box-sizing: border-box;
  transition: 0.2s;

  * {
    cursor: pointer;
  }

  .container {
    display: flex;
    gap: 10px;

    align-items: center;
    flex: 1;
  }

  .icon {
    font-size: 28px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 3px;

    p {
      font-size: 14px;
    }

    label {
      font-size: 12px;
      color: gray;
    }
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 35px;
    height: 35px;
    background-color: transparent;
    svg {
      font-size: 16px;
      color: gray;
    }
    div {
      display: flex;
      place-items: center;
      transition: 0.2s;
    }
  }

  .tools {
    display: flex;
    gap: 3px;
  }
}

.active {
  background-color: variables.$component;
}
.subFolder {
  display: flex;

  .line {
    display: flex;
    margin: 0;
    margin-right: 8px;
    border: solid 1px variables.$light-blur-panel;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
      border-color: variables.$theme;
    }
  }

  .subFolderList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
}
