@use "@/variables";

.background {
  justify-content: flex-end;
  .container {
    padding: 10px;
    width: 25%;
    height: 100%;
    background-color: variables.$folder-component;
    box-sizing: border-box;
  }
}
