.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 16px;
  border: solid 1px transparent;
  background-color: var(--component);
  box-sizing: border-box;
  transition: 0.2s;

  &:hover {
    border: solid 1px var(--border-color);
    background-color: var(--hover-component);
    cursor: pointer;
  }

  .infoBlock {
    display: flex;
    align-items: center;
    gap: 8px;
    h3 {
      margin: 0;
      font-size: var(--text-size-large);
    }
    p {
      color: gray;
      font-size: var(--text-size-medium);
    }
  }
}
