.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  color: white;
  background-color: #ff5c5c;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
