@use "@/variables";

.container {
  padding: 3px 5px;
  border-radius: 9px;
  border: solid 1px transparent;
  background-color: variables.$status-background;
  font-size: 13px;
  box-sizing: border-box;
}

.red {
  border-color: variables.$error-color;
  p {
    color: variables.$error-color;
  }
}

.green {
  border-color: variables.$success-color;
  p {
    color: variables.$success-color;
  }
}
