.container {
  padding: 3px 5px;
  border-radius: 9px;
  border: solid 1px transparent;
  background-color: var(--status-background);
  font-size: 13px;
  box-sizing: border-box;
}

.red {
  border-color: var(--error-color);
  p {
    color: var(--error-color);
  }
}

.green {
  border-color: var(--success-color);
  p {
    color: var(--success-color);
  }
}
