@use "@/variables";

.homeContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  .contentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: variables.$background;

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
