@use "@/variables";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 1;

  border: solid 2px transparent;
  border-radius: 22px;
  background-color: variables.$panel;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s;

  .fileContainer {
    position: relative;
    padding: 2px;
    width: 100%;
    max-height: 150px;
    height: 100%;
    box-sizing: border-box;

    .opacity {
      opacity: 0.5;
    }

    .fileIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .infoContainer {
      display: flex;
      position: absolute;
      padding: 8px 10px;
      width: 100%;
      height: 100%;
      top: 0;
      justify-content: space-between;
      align-items: flex-start;
      box-sizing: border-box;
      z-index: 2;

      .sizeContainer {
        padding: 2px 3px;
        border-radius: 8px;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        background-color: variables.$light-blur-panel;

        p {
          font-size: 12px;
          color: rgb(240, 240, 240);
          text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.808);
          user-select: none;
        }
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    padding: 10px 5px;
    user-select: none;

    .type {
      display: flex;
      align-items: center;
      gap: 3px;
      font-size: 13px;
      color: gray;

      .icon {
        font-size: 20px;
        color: gray;
      }
      span {
        display: -webkit-box;
        width: 150px;
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .editContainer {
        display: flex;
        width: 100%;
        gap: 5px;

        input {
          width: 100%;
          border-radius: 8px;
          background-color: variables.$background;
          outline: none;
          transition: 0.2s;

          &:focus-within {
            border: solid 1px variables.$theme;
          }
        }

        button {
          padding: 0;
          min-width: 30px;
          height: 30px;
          background-color: variables.$theme;
          transition: 0.2s;

          & svg {
            color: white;
          }
        }
      }

      .name {
        display: -webkit-box;
        width: 100%;
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0;
        color: lightgray;
        user-select: none;
        font-size: 14px;
      }
      .menuButton {
        padding: 0;
        width: 30px;
        height: 30px;
        background-color: transparent;
        transition: 0.2s;

        &:hover {
          background-color: variables.$blur-panel;
          svg {
            color: lightgray;
          }
        }

        svg {
          font-size: 20px;
          color: gray;
        }
      }
    }
  }
}

.skeleton {
  width: 100%;
  height: 225px;
  aspect-ratio: 1;

  box-sizing: border-box;
  border: solid 2px transparent;
  border-radius: 22px;
  background-color: variables.$panel;
}

.selected {
  border-color: variables.$theme;
}

.dragging {
  opacity: 0.5;
  transform: scale(0.95);
}
