@use "@/variables";

.modal {
  width: 50%;

  @media screen and (max-width: 1200px) {
    & {
      width: 500px !important;
    }
  }

  @media screen and (max-width: 768px) {
    & {
      width: 70% !important;
    }
  }

  @media screen and (max-width: 480px) {
    & {
      width: 90% !important;
    }
  }
}

.searchContainer {
  position: relative;
  width: 100%;
  //width: 600px;

  .toolsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 50px;

    .selector {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 50px;
      font-size: 22px;
    }
  }

  .fileList {
    margin-top: 10px;

    overflow-y: auto;
  }
}
