@use "@/variables";

.modal {
  width: 40%;
}
.editModal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .title {
    font-size: 13px;
    color: gray;
  }

  .buttonsContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;

    button {
      width: auto;
      height: 40px;

      &:disabled {
        opacity: 0.6;
      }
    }
  }

  .selector {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    background-color: variables.$folder-component;
  }
}
