.switch {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: var(--blur-panel);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.active {
  background-color: var(--theme);
}

.switchKnob {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
}
