@use "@/variables";

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding: 0 10px;
  width: 100%;
  height: 50px;
  border: solid 2px variables.$background;
  background-color: variables.$component;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.25s;

  p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: rgb(145, 145, 145);
    cursor: pointer;
  }

  input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    outline: none;
    cursor: pointer;
  }

  &:focus-within {
    border-color: variables.$theme;
  }
}

.error {
  border-color: variables.$error-color;
}
