@use "@/variables";

.sortContainer {
  width: 180px;
  height: auto;

  .menuButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 35px;
    background-color: transparent;
  }

  .active {
    background-color: variables.$panel !important;
  }
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sortButton {
  display: flex;
  justify-content: flex-start;
  gap: 3px;
  min-width: 190px !important;
  //min-height: 35px;
  background-color: transparent;
}

.order {
  // min-width: 35px;
  //min-height: 35px;
  font-size: 18px;
  background-color: transparent;
}
