.tools {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .block {
    display: flex;
    gap: 3px;
  }

  .toolButton {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 3px;
    width: auto;
    height: 100%;
    background-color: transparent;
    transition: 0.2s;

    &:hover {
      border-color: var(--border-color);
      background-color: var(--component);
    }

    svg {
      font-size: 17px;
    }
  }
  .deleteButton {
    color: var(--error-color);

    background-color: var(--error-blur-background);

    &:hover {
      border-color: var(--delete-color);
      background-color: var(--error-blur-background);
    }
    svg {
      color: var(--error-color);
    }
  }
}
