.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  box-sizing: border-box;
  border: solid 2px var(--error-color);
  background-color: var(--error-blur-background);

  p {
    color: var(--error-color);
    font-size: 11px;
  }
}

.submitButton {
  width: 100%;
  height: 40px;
  color: white;
  background-color: var(--dark-theme);
}
.link {
  color: var(--theme);
}

.route {
  display: flex;
  gap: 6px;

  button {
    padding: 0;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}
