.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 160px;
  border-radius: 18px;
  background-color: transparent;
  position: relative;
}

.fixedSVG {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.svg-filter {
  position: fixed;
  width: 0;
  height: 0;
}

img {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: 1;
  filter: url(#shadow); // Применяем SVG фильтр
  transition: filter 0.3s;
}
