.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 160px;
  border-radius: 18px;
  background-color: transparent;
  position: relative;
  //overflow: hidden;
}
svg[aria-hidden="true"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.svg-filter {
  position: fixed;
  width: 0;
  height: 0;
}

img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;

  z-index: 1;
  filter: url(#shadow);
  transition: filter 0.3s;
}
