@use "./variables" as *;

:root {
  font-family: "Nunito", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1,
h2,
h3,
h4 {
  color: var(--text-color);
  font-family: "Exo 2";
}

p {
  margin: 0;
}

img {
  user-select: none;
}

input,
p,
label,
div {
  font-family: "Nunito", system-ui, sans-serif;
  color: var(--text-color);
}

hr {
  transition: 0.2s;
}

svg {
  color: var(--text-color);
  transition: 0.2s;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family: inherit;

  color: var(--text-color);
  background-color: var(--blur-panel);

  border-radius: 8px;
  border: solid 1px transparent;
  cursor: pointer;
  user-select: none;
}

.block-scroll {
  overflow: hidden;

  #root {
    padding-right: 3px;
  }

  .modal {
    padding-right: 3px;
  }
}

@supports (-moz-appearance: none) {
  .block-scroll {
    overflow: hidden;

    #root {
      padding-right: 17px;
    }

    .modal {
      padding-right: 17px;
    }
  }
}

.scroller {
  scrollbar-width: thin;
  scrollbar-color: var(--scroller-color) var(--background);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroller-color);
  border-radius: 5px;
}
