$theme: rgb(247, 189, 102);
$dark-theme: #e6812f;
$background: #1e2329;
$menu-background: #1c2025;
$component: #292e3a;
$folder-component: #1f222b;
$panel: #242833;
$blur-panel: #11121849;
$light-blur-panel: #7272724f;
$error-color: #f08e7e;
$error-blur-background: #3b12196c;
$selected-component: #ffffff28;
$success-color: #3fb950;
