:root[data-theme='dark'] {
  --background: #1e2329;
  --menu-background: #1c2025;
  --component: #292e3a;
  --hover-component: #2f3441;
  --active-component: #373d4b;
  --folder-component: #1f222b;
  --panel: #242833;
  --blur-panel: #1112187a;
  --blur-background: #1e2329bd;
  --blur-button: #1112187a;
  --light-blur-panel: #7272724f;
  --status-background: #0d1117;
  --scroller-color: #424753;

  --theme: rgb(247, 189, 102);
  --dark-theme: #e6812f;
  --error-color: #f08e7e;
  --delete-color: #f7343b;
  --error-blur-background: #3b12196c;
  --selected-component: #ffffff28;
  --success-color: #3fb950;
  --border-color: rgba(86, 87, 97, 0.329);
  --text-color: #d3d3d3;
}

:root[data-theme='light'] {
  --background: #f2f2f2;
  --menu-background: #f0f0f0;
  --component: #8b8b8b3b;
  --hover-component: #ecececa8;
  --folder-component: #eaeaea;
  --panel: #ffffff;
  --blur-panel: #c4c4c488;
  --blur-background: #f2f2f283;
  --blur-button: #c0c0c07a;
  --light-blur-panel: #a8a8a84f;
  --status-background: #f8f8f8;
  --scroller-color: #cccccc;

  --theme: #f7bd66;
  --dark-theme: #e6812f;
  --error-color: #ff2200;
  --delete-color: #f7343b;
  --error-blur-background: #fc9c9c86;
  --selected-component: #cccccc28;
  --success-color: #3fb950;
  --border-color: rgba(86, 87, 97, 0.129);
  --text-color: #111111;
}
