.modal {
  width: 40%;
}

.folderCreateContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  p {
    font-size: 13px;
    color: gray;
  }

  .selector {
    display: flex;
    gap: 10px;

    .card {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 6px;
      padding: 10px;
      border-radius: 12px;
      border: solid 2px transparent;
      background-color: var(--blur-panel);
      cursor: pointer;
      transition: 0.2s;
      user-select: none;

      h3 {
        margin: 0;
        font-size: 14px;
      }

      p {
        font-size: 11px;
        color: gray;
      }
    }

    .active {
      border-color: var(--theme);
    }
  }

  .buttonsContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;

    button {
      width: auto;
      height: 40px;

      &:disabled {
        opacity: 0.6;
      }
    }
  }
}
