.modal {
  width: 100%;
  max-width: 900px;
}

.fileView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 550px;
  box-sizing: border-box;

  .gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90%;

    .but {
      width: 70px;
      height: 100%;
      background-color: transparent;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        svg {
          font-size: 22px;
          color: gray;
        }
      }

      &:disabled {
        opacity: 0;
      }
    }

    .viewer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;

      .fileIcon {
      }

      .video {
        max-width: 100%;
        max-height: 80vh;
        background: #000;
        border-radius: 8px;
        object-fit: contain;
      }
    }
  }
  .info {
    display: flex;
    align-items: center;

    .null {
      flex: 1;
    }

    .name {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      p {
        display: -webkit-box;
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: center;
        color: gray;
        font-size: 15px;
        user-select: none;
      }
    }

    .tools {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      flex: 1;
      button {
        padding: 6px;
        font-size: 22px;
        box-sizing: border-box;
      }
    }
  }
}

.image {
  object-fit: contain;
}

.sliderWrapper {
  display: flex;
  width: 50%;
  z-index: 12;

  .slideList {
    display: flex;

    height: 100%;
    max-height: 400px;
    width: 100%;

    .slide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-width: 100%;
      height: 100%;
      max-width: 100%;

      .slideContent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;

        & > * {
          display: flex;
          justify-content: center;
          align-items: center;
          aspect-ratio: 10/10;
        }

        .video {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 80%;
          max-height: 80vh;
          background: #000;
          border-radius: 8px;
          object-fit: contain;
          z-index: 20;
        }
      }
    }
  }
}

.tools {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;

  button {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }
}

.viewModal {
  display: flex;

  flex-direction: column;
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  background-color: transparent !important;

  .footer {
    display: flex;
    gap: 10px;
  }
}
