.fileView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 550px;
  box-sizing: border-box;

  .gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90%;

    .but {
      width: 70px;
      height: 100%;
      background-color: transparent;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        svg {
          font-size: 22px;
          color: gray;
        }
      }

      &:disabled {
        opacity: 0;
      }
    }

    .viewer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;

      .image {
        width: 100%;
        max-height: 450px;
        object-fit: contain;
      }

      .fileIcon {
      }
    }
  }
  .info {
    display: flex;
    align-items: center;

    .null {
      flex: 1;
    }

    .name {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      p {
        display: -webkit-box;
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: center;
        color: gray;
        font-size: 15px;
        user-select: none;
      }
    }

    .tools {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      flex: 1;
      button {
        padding: 6px;
        font-size: 22px;
        box-sizing: border-box;
      }
    }
  }
}
