.folderContainer {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;

  .contentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background-color: var(--background);
  }
}
